---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Rohan Samuel</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fef65e84fa.js" crossorigin="anonymous"></script>

</head>

<body>
    {% include nav.html %}

    {% include hero.html title="Let's do this!" %}
    <section class="contact-info">
        <div class="container">
            <p>Find me here:</p>
            
            
            <ul class="social-media">               
                <li><a href="mailto:rohan2309@gmail.com" target="_blank">rohan2309@gmail.com</a></li>
                <li><a href="tel:+12365581322">+1 (236) 558-1322</a></li>
                <li><a href="https://www.linkedin.com/in/r-samuel/" target="_blank">LinkedIn</a></li>
                <li><a href="https://www.instagram.com/rohanimate/" target="_blank">Instagram</a></li>
                <!-- Add more social media links as needed -->
            </ul>
        </div>
    </section>

    {% include footer.html %}




    <!--  <script src="script.js"></script>  -->
</body>
</html>