:root {
    --primary-color: #62EBE1; /* Default primary color */
    --secondary-color: #252A34; /* Default secondary color */
    --tertiary-color: #FF2E63; /* Default tertiary color */
    --background-color: #EAEAEA; /* Default background color */
    --text-color: #212529; /* Default text color */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var();
}

nav {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 5px 0;
    overflow: hidden;
    
}

nav h1 {
    float: left;
    padding: 0px;
    margin: 10px 0px;    
}

nav a {
    float: left;
    text-decoration: none; /* Remove underline */
    color: var(--tertiary-color) 
}




nav ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 15px 0px;    
}

nav ul li {
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
}

header {
    position: relative;
    overflow: hidden;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin: 0;
}


.project-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.project-container {
    position: relative;
    flex: 0 0 30%; /* Adjust width as needed */
    overflow: hidden;
}

.project {
    position: relative;
    flex: 0 0 30%; /* Adjust width as needed */
    overflow: hidden;
}



.project img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.project:hover .overlay {
    opacity: 0;
}

.project .overlay h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.project-description {
    text-align: right;
    margin-top: 10px;
    margin-right: 5px;
    color: var(--text-color); /* Adjust text color */
  
}





.experiences {
    margin-top: 20px;
}

.experience {
    color: var(--text-color);
    margin-bottom: 20px;
}

.experience h3 {
    font-size: 20px;
}

.experience h4 {
    font-size: 18px;
    margin-top: 5px;
}

.experience p {
    margin-top: 5px;
}

footer {
    background-color: var(--text-color); /* Change background color */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f8f9fa;
}





/* You can add more styles for your content here */
