<div class="experiences">
    <h2>Experience</h2>
    <div class="experience">
        <div class="year">2025</div>
        <div class="details">
            <h4>Lab Instructor - Kwantlen Polytechnic University</h4>
            <p>Led hands-on XR development labs using Unity and XR Interaction Toolkit.</p>
        </div>
    </div>
    <div class="experience">
        <div class="year">2023-2024</div>
        <div class="details">
            <h4>Teaching Assistant - Simon Fraser University</h4>
            <p>Guided students through labs, instructed in Maya, provided technical support, and graded
                projects.</p>
        </div>
    </div>
    <div class="experience">
        <div class="year">2023</div>
        <div class="details">
            <h4>Bachelor of Science - Simon Fraser University</h4>
            <p>School of Interactive Arts and Technology (SIAT): interdisciplinary research-focused program
                combining art
                and technology.</p>
        </div>
    </div>
    <div class="experience">
        <div class="year">2022</div>
        <div class="details">
            <h4>Technical Assistant (Web Developer)</h4>
            <p>SFU Our Learning Community website — development and maintenance support.</p>

        </div>
    </div>
</div>
