<section class="skills">
    <h2>Skills</h2>

    <div class="skills__group skills__primary" aria-labelledby="skills-primary-title">
        <h3 id="skills-primary-title" class="skills__title">Core Skills</h3>
        <div class="skill-row">
            <!-- Add core skill items here -->

            <div class="skill">
                <img src="{{ '/img/Unitylogo.png' | relative_url }}" alt="Unity logo">
                <h3>Unity</h3>
            </div>
            <div class="skill">
                <img src="{{ '/img/unreal-1.svg' | relative_url }}" alt="Unreal Engine logo">
                <h3>Unreal Engine</h3>
            </div>
            <div class="skill">
                <img src="{{ '/img/mayalogo.png' | relative_url }}" alt="Autodesk Maya logo">
                <h3>Maya</h3>
            </div>
            <div class="skill">
                <i class="skill-icon-placeholder fas fa-film" aria-hidden="true"></i>
                <h3>Interactive Media/Video Editing</h3>
            </div>



        </div>
    </div>

    <div class="skills__group skills__secondary" aria-labelledby="skills-secondary-title">
        <h3 id="skills-secondary-title" class="skills__title">Secondary Skills</h3>
        <div class="skill-row skill-row--small">
            <!-- Add secondary (smaller) skill items here -->
            <!-- Example:-->
            <div class="skill">
                <i class="skill-icon-placeholder fas fa-code" aria-hidden="true"></i>
                <h3>Programming: C#, C++, Python, JS, HTML, CSS</h3>
            </div>
            <div class="skill skill--small">
                <img src="{{ '/img/gitlogo.png' | relative_url }}" alt="Git logo">
                <h3>Git</h3>
            </div>
            <div class="skill">
                <img src="{{ '/img/substancelogo.png' | relative_url }}" alt="Substance Painter 3D Logo">
                <h3>Substance Painter 3D</h3>
            </div>

            <div class="skill">
                <i class="skill-icon-placeholder fas fa-object-group" aria-hidden="true"></i>
                <h3>UI/UX</h3>
            </div>
            <div class="skill">
                <i class="skill-icon-placeholder fas fa-music" aria-hidden="true"></i>
                <h3>Audio Engineering</h3>
            </div>



        </div>
    </div>
</section>
