---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film | Rohan Samuel</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fef65e84fa.js" crossorigin="anonymous"></script>

</head>

<body>
    {% include nav.html %}

    {% include hero.html title="Check out some of my filmmaking!" %}

    <div class="container" id="project-gallery">
        <!-- Your content goes here -->
        <h2>Projects</h2>
        <div class="project-gallery">
            <div class="project-container">
                <div class="project">
                    <a href="../projects/kogawa.html">
                        <img src="../img/kogawasquare1.png" alt="What Do I Remember of the Evacuation project preview">
                        <div class="overlay">
                            <h3>What do I remember of the Evacuation?</h3>
                        </div>
                    </a>
                </div>
                <div class="project-description">
                    <p>VideoPoem</p>
                </div>
            </div>
            <div class="project-container">
                <div class="project">
                    <a href="../projects/bicycle.html">
                        <img src="../img/bicyclesquare.png" alt="Bicycle short film project preview">
                        <div class="overlay">
                            <h3>Bicycle</h3>
                        </div>
                    </a>
                </div>
                <div class="project-description">
                    <p>Short Film</p>
                </div>
            </div>
        </div>
        <div class="more-work-btn-container">
            <a href="../index.html" class="more-work-btn">Back to Home</a>
        </div>
    </div>

    {% include footer.html %}

    <!--  <script src="script.js"></script>  -->
</body>

</html>