---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games | Rohan Samuel</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fef65e84fa.js" crossorigin="anonymous"></script>

</head>

<body>
    {% include nav.html %}

    {% include hero.html title="Check out some of the games I've worked on!" %}

    <div class="container" id="project-gallery">
        <!-- Your content goes here -->
        <h2>Projects</h2>
        <div class="project-gallery">
            <div class="project-container">
                <div class="project">
                    <a href="../projects/harmony.html">
                        <img src="../img/harmonysquare3.jpg" alt="Harmony VR project preview">
                        <div class="overlay">
                            <h3>Harmony</h3>
                        </div>
                    </a>
                </div>
                <div class="project-description">
                    <p>Virtual Reality Installation</p>
                </div>
            </div>
            <div class="project-container">
                <div class="project">
                    <a href="../projects/kinesthesia.html">
                        <img src="../img/kinsquare.png" alt="Kinesthesia project preview">
                        <div class="overlay">
                            <h3>Kinesthesia</h3>
                        </div>
                    </a>
                </div>
                <div class="project-description">
                    <p>Body Interface</p>
                </div>
            </div>
            <div class="project-container">
                <div class="project">

                    <a href="../projects/invasive.html">
                        <img src="../img/invasivesquare.png" alt="Invasive project preview">
                        <div class="overlay">
                            <h3>Invasive</h3>
                        </div>
                    </a>
                </div>
                <div class="project-description">
                    <p>Game Design (3D)</p>
                </div>
            </div>

        </div>
        <div class="more-work-btn-container">
            <a href="../index.html" class="more-work-btn">Back to Home</a>
        </div>
    </div>







    {% include footer.html %}

    <!--  <script src="script.js"></script>  -->
</body>

</html>